@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url(//fonts.googleapis.com/css?family=Montserrat:300, 400, 500);
/* Start Table */

/* h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
} */

h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
}
/* Table Styles */

.table-wrapper {
  margin: 10px 40px 40px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 15px;
}

.fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: 'Scroll horizontally >';
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }
  .fl-table thead th:last-child {
    border-bottom: none;
  }
  .fl-table thead {
    float: left;
  }
  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .fl-table td,
  .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
    display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .fl-table tr:nth-child(even) {
    background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
/* End Table */

/* Start Update */

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg, #ff5370, #ff869a);
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  width: 100%;
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}
/* End Update */

.service-6 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-weight: 200;
}

.service-6 h1,
.service-6 h2,
.service-6 h3,
.service-6 h4,
.service-6 h5,
.service-6 h6 {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}

.service-6 .font-weight-medium {
  font-weight: 500;
}

.service-6 .subtitle {
  color: #ffffff;
  margin-top: -25px;
}

.service-6 a {
  text-decoration: none;
}

.service-6 .wrap-service6-box {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px;
  width: 90%;
  -webkit-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}

.service-6 .wrap-service6-box .card-body {
  padding: 30px;
}

.service-6 .wrap-service6-box .card-body .linking {
  color: #ffffff;
}

.service-6 .wrap-service6-box .card-body .linking:hover {
  color: #ffffff;
}

.service-6 .wrap-service6-box .card-body p {
  opacity: 0.8;
}

.service-6 .wrap-service6-box:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.service-6 .bg-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #ff4d7e 0%,
    #ff6a5b 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff4d7e),
    to(#ff6a5b)
  );
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.service-6 .bg-info-gradiant {
  background: #188ef4;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #188ef4 0%,
    #316ce8 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#188ef4),
    to(#316ce8)
  );
  background: -webkit-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: -o-linear-gradient(left, #188ef4 0%, #316ce8 100%);
  background: linear-gradient(to right, #188ef4 0%, #316ce8 100%);
}

.service-6 .bg-success-gradiant {
  background: #2cdd9b;
  background: -webkit-linear-gradient(
    legacy-direction(to right),
    #2cdd9b 0%,
    #1dc8cc 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#2cdd9b),
    to(#1dc8cc)
  );
  background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
  background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
}

.service-6 .btn-outline-success {
  color: #2cdd9b !important;
  background-color: transparent;
  border-color: #2cdd9b !important;
}

.service-6 .btn-outline-success:hover {
  background: #2cdd9b;
  border-color: #2cdd9b;
  color: #ffffff !important;
}

.service-6 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}
/*  */
.table1 {
  margin: auto;
  margin-top: 50px;
  border-collapse: collapse;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
.header {
  background-color: #188ef4;
}
.headerItems {
  font-size: 18px;
  padding: 25px 30px;
  font-weight: bold;
  color: #ffffff;
}
.rowOne {
  background-color: #fff9c4;
}
.rowOneItems {
  padding: 30px 40px;
  color: #272300;
}
.R1I4 {
  text-align: center;
}
.rowOne:hover {
  background-color: #f8f8ff;
}
.rowTwo {
  background-color: #fff6ab;
}
.rowTwoItems {
  padding: 30px 40px;
  color: #272300;
}
.R2I4 {
  text-align: center;
}
.rowTwo:hover {
  background-color: #f8f8ff;
}
.rowThree {
  background-color: #fff9c4;
}
.rowThreeItems {
  padding: 30px 40px;
  color: #272300;
}
.R3I4 {
  text-align: center;
}
.rowThree:hover {
  background-color: #f8f8ff;
}
.rowFour {
  background-color: #fff6ab;
}
.rowFourItems {
  padding: 30px 40px;
  color: #272300;
}
.R4I4 {
  text-align: center;
}
.rowFour:hover {
  background-color: #f8f8ff;
}
/* Rounding */
.R0I1 {
  border-top-left-radius: 15px;
}
.R4I1 {
  border-bottom-left-radius: 15px;
}
.R0I4 {
  border-top-right-radius: 15px;
}
.R4I4 {
  border-bottom-right-radius: 15px;
}

/* Start Dropdown */

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.select option {
  color: #fff;
}

/* End Dropdown */

/* Search */

.s132 {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: url('../images/Search_132.png');
  background-size: cover;
  background-position: center center;
  padding: 15px;
}

.s132 form {
  width: 100%;
  max-width: 790px;
}

.s132 form .inner-form {
  background: rgba(0, 0, 0, 0.5);
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}

.s132 form .inner-form .input-field {
  height: 68px;
}

.s132 form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 32px;
  font-size: 16px;
  color: #fff;
}

.s132 form .inner-form .input-field input.placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.s132 form .inner-form .input-field input:-moz-placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.s132 form .inner-form .input-field input::-webkit-input-placeholder {
  color: #e5e5e5;
  font-size: 16px;
}

.s132 form .inner-form .input-field input:hover,
.s132 form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #fff;
}

.s132 form .inner-form .input-field.first-wrap {
  width: 200px;
}

.s132 form .inner-form .input-field.first-wrap .choices__inner {
  background: transparent;
  border-radius: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  color: #fff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 30px;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__inner
  .choices__list.choices__list--single {
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__inner
  .choices__item.choices__item--selectable.choices__placeholder {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  opacity: 1;
  color: #e5e5e5;
  font-size: 16px;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__inner
  .choices__list--single
  .choices__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices[data-type*='select-one']:after {
  right: 30px;
  border-color: #e5e5e5 transparent transparent transparent;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__list.choices__list--dropdown {
  border: 0;
  background: black;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__list.choices__list--dropdown
  .choices__item--selectable {
  padding-right: 0;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__list--dropdown
  .choices__item--selectable.is-highlighted {
  background: #000;
  color: #fff;
}

.s132
  form
  .inner-form
  .input-field.first-wrap
  .choices__list--dropdown
  .choices__item {
  color: #e5e5e5;
}

.s132 form .inner-form .input-field.first-wrap .choices__list--dropdown {
  margin-top: 0;
}

.s132 form .inner-form .input-field.second-wrap {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.s132 form .inner-form .input-field.second-wrap input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 0;
  border-right: 0;
}

.s132 form .inner-form .input-field.third-wrap {
  width: 164px;
}

.s132 form .inner-form .input-field.third-wrap .btn-search {
  font-weight: 300;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 20px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: linear-gradient(
    45deg,
    #2c6dd5 0%,
    #2c6dd5 28%,
    #ff4b5a 91%,
    #ff4b5a 100%
  );
}

.s132 form .inner-form .input-field.third-wrap .btn-search:before {
  border-radius: inherit;
  background: linear-gradient(
    45deg,
    #ff4b5a 0%,
    #ff4b5a 28%,
    #2c6dd5 91%,
    #2c6dd5 100%
  );
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: all 0.2s ease-out, color 0.2s ease-out;
}

.s132 form .inner-form .input-field.third-wrap .btn-search:hover::before {
  opacity: 1;
}

.s132 form .inner-form .input-field.third-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .s132 form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .s132 form .inner-form {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px;
  }
  .s132 form .inner-form .input-field {
    margin-bottom: 20px;
  }
  .s132 form .inner-form .input-field input {
    padding: 10px 15px;
  }
  .s132 form .inner-form .input-field.first-wrap {
    width: 100%;
  }
  .s132 form .inner-form .input-field.first-wrap .choices__inner {
    padding: 10px 15px;
  }
  .s132
    form
    .inner-form
    .input-field.first-wrap
    .choices[data-type*='select-one']:after {
    right: 11.5px;
    border-color: #e5e5e5 transparent transparent transparent;
  }
  .s132 form .inner-form .input-field.second-wrap {
    width: 100%;
  }
  .s132 form .inner-form .input-field.second-wrap input {
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .s132 form .inner-form .input-field.third-wrap {
    margin-bottom: 0;
    width: 100%;
  }
}
